
html, body {
  height: 100%; /* Asegura que el body ocupe toda la altura */
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ocupa toda la altura del viewport */
}

main {
  flex: 1; /* El contenido principal toma el espacio restante */
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #f8f9fa;
  color: #333;
  border-top: 1px solid #ddd;
}















/*body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
  }
  
  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  main {
    padding: 0px;
    width: 100%;
  }
  */